{% extends 'base.html.twig' %}


 {% block title %}
 
{% endblock  title %}

{% block body %}
<nav class="navbar navbar-expand-lg navbar-light">
  <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
    <span class="navbar-toggler-icon"></span>
</button>

</nav>
         
</header>

 <section>
    <div class="breadcrumb">
      <ul class="breadcrumb">
        <li><a href="accueil.html">Accueil </a></li>
        <li><a href="galerie.html">Galerie</a></li>
      </ul>
    </div>
  </section>
 
  <main class="photos" ><div>
    <h2 class="galerie">Galerie</h2><br>
    <h3 class="description">Les entrées</h3>
    </div>
    
    <div class="container mt-3">
      <div class="entre">
        <h4>Quesadillas</h4>
        <img src="images/queslera.jpg" class="rounded" alt="images" width="304" height="236">



        <h4>Zoodles épices</h4>

        <img src="images/salade-courgettes-mozzarella-640x381.jpeg" class="rounded" alt="images" width="304"
          height="236">



        <h4>Assiette de jambon de Parme <br>ou Assiette de Mortadelle à la Truffe</h4>

        <img src="images/assiettejambon.jpeg" class="rounded" alt="images" width="304" height="236">



        <h4>Aubergines stracciatella, <br> houmous de betterave, tomates,<br> grenades & basilic</h4>
        <img src="images/aubergine.jpg" class="rounded" alt="images" width="304" height="236">
      </div>
    </div>
      <br>

      <div>

        <h3 class="description">Les Plats</h3>
      </div>

      <div class="container mt-3">
        <div class="entre">
          <h4>Chicken crispy quesadillas</h4>
          <img src="images/chicken quesadilla.jpg" class="rounded" alt="images" width="304" height="236">



          <h4>Pavé de saumon au basilic <br>et La creme fraiche</h4>
          <img src="images/saumon.jpg" class="rounded" alt="images" width="304" height="236">




          <h4>Grillard de porc</h4>
          <img src="images/pork-ribs-gc3f31725a_1280.jpg" class="rounded" alt="images" width="304" height="236">



          <h4>La Veggie</h4>
          <img src="images/pizza verge.jpg" class="rounded" alt="images" width="304" height="236">
        </div>
      </div>
        <br>
        <div>
          <h3 class="description">Les Desserts</h3>
        </div>


        <div class="container mt-3">
          <div class="entre">
            <h4>Gauffres à la creme au beurres</h4>
            <img src="images/waffles-g8057e887e_1280.jpg" class="rounded" alt="images" width="304" height="236">
            <h4>Gateaux à la fraise</h4>
            <img src="images/cake fraise.jpg" class="rounded" alt="images" width="304" height="236">

            <h4>Moelleux au chocolat</h4>
            <img src="images/cake chocolat.jpg" class="rounded" alt="images" width="304" height="236">
          </div>
        </div>
          <br>
          <div>
            <h3 class="description">A l'interieur</h3>
          </div>
          <div class="container mt-3">
            <div class="entre">
              <img src="images/table.jpg" class="rounded" alt="images" width="304" height="236">



              <img src="images/serve interieur.jpg" class="rounded" alt="images" width="304" height="236">
            </div>
          </div>
            <br>
            <div>
              <h3 class="description">A l'exterieure</h3>
            </div>
            <div class="container mt-3">
              <div class="entre">
                <img src="images/resto exterieure.jpg" class="rounded" alt="images" width="304" height="236">
                <img src="images/restaurant-g41f1bd264_1280.jpg" class="rounded" alt="images" width="304" height="236">

              </div>
            </div>
  </main>

{% endblock %}
