{% extends 'base.html.twig' %}

{% block title %}Hello MenuController!{% endblock %}

{% block body %}

<section>
    <div class="breadcrumb">
  
  <ul class="breadcrumb">
    <li><a href="accueil.html">Accueil </a></li>
    <li><a href="menu.html">Menu</a></li>
    
  </ul>
    </div>
  </section>

    <body>
        <section class="menu" id="menu">

            <div class="row justify-content: center">
                <div class="col50" style=align-items:center;>
                    <h1><span>Notre </span> Menu</h1>
                </div>
                <div class="menu" id="menu">
                    <div class="day">
                        <h3>Entrée & Plat ou plat & Dessert/Entrée & plat & Dessert</h3>
                    </div>
                </div>
                <hr>
                <div class="caprices">
                    <h2>Menus Caprices à 25 € </h2>

                    <div>
                        <h3>Dejeuner </h3>
                        <p>Cette formule est compose des 2 Plats , Entre ou Salade et 2 Desserts au choix</p>



                        <h4>les Entres</h4>
                        <p>Avocado Toast , Fresh Salade</p>


                        <h4>les Plats</h4>
                        <p>Filet de Boeuf , Indian Bowl</p>


                        <h4>les Desserts</h4>
                        <p>Taramisu au Nutella , Gauffres a la creme au Beurres</p>
                    </div>
                    <br>
                    <div>
                        <br>
                        <div class="lome">
                        <img src="images/menu.png" alt="images">
                        </div>
                        <div class="caprices">
                            <h2>Menus Surprise à 30 € </h2>
                        </div>

                        <h3>Dinner </h3>
                        <p>Cette formule est compose des 2 Plats , un Pizza , Salade et 2 Desserts au choix</p>

                        <h4>les Entres</h4>
                        <p>César Salade</p>
                        <h4>les Plats</h4>
                        <p> Pizza La marguerite , Purée de choux fleur et Pommes de terre gratinée , Burger d'Eugène</p>
                        <h4>les Desserts</h4>
                        <p>Banana bread maison , Gâteau maison au Chocolat gluten free</p>
                    </div>


        </section>


{% endblock %}
